html,body{
  background-color: #2e343a;
  padding:0 !important;
  color:white;
}

.full-screen{
  height: calc(100vh - 60px) !important; 
}

.remove-padding{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.navbar-notification-bell{
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.navbar-avatar{
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.chat-logo{
  color:#c300c3 !important;
}

.navbar-border{
  border-bottom-style: solid;
  border-color: #870087;
  border-width: 2px;
}

.content-column{
  background-color: #2e343a !important;
}

.left-bar-column{
  background-color: #262c32 !important;
  overflow-y: auto;
}

.list-group-dark .list-group-item{
  background-color: #23292f;
}

.list-elements .list-group{
  background-color: #262c32 !important;
}

.list-elements .list-group-item{
  background-color: #2a3138 !important;
  
  border-bottom-style: solid !important;
  border-color: #37414b;
  border-width: 1px;
}

.list-group-border-bottom{
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-radius: 0px 0px 0px 0px !important;
  border-bottom-style: none !important;
  border-color: #870087;
  border-width: 1px;
}

.list-group-arrow{
  float: right;
}

.chat-room-messages{
  overflow-y: auto;
}

.chat-room-form{

}

.form-control{
  background-color: #2a3138 !important;
  color: white !important;
  border-color: #870087;
}

.chat-room-message-avatar{
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.chat-room-message{
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 6px;
  padding-bottom: 6px;
  letter-spacing: 0.005px;

  border-bottom-style: solid;
  border-width: 1px;
  border-color: #37414b;
}

.chat-room-message-content{
  padding-left: 16px;
}

.chat-room-message-date{
  font-size: 12px;
}

textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
  box-shadow: inset 1px 1px 1px #c300c3;
  border-color: #c300c3;
  outline: 0 none;
}

.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 64px;
  height: 64px;
  animation: spin 2s linear infinite;
  float: none;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}