html,body{
  background-color: #2e343a;
  padding:0 !important;
  color:white;
}

.bg-purple {
  background-color: #870087;
}

.progress{
  height: 3px;
}

.front-page{
  display: flex;
  height: 100vh;
  width: auto;
  align-items: center;
  justify-content: center;
}

.divider{
  width:5px;
  height:auto;
  display:inline-block;
}

.full-screen{
  height: calc(100vh - 60px) !important; 
}

.remove-padding{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.float-right{
  float: right;
}

.owl{
  text-align: center;
  justify-content: center;
}

.owl-text{
  color: #fff3;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #870087 !important;
  border-color: #870087;
}

.navbar-notification-bell{
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.navbar-avatar{
  border-radius: 50%;
}

.chat-logo{
  color:#c300c3 !important;
}

.navbar-border{
  border-bottom-style: solid;
  border-color: #870087;
  border-width: 2px;
}

.content-column{
  background-color: #2e343a !important;
}

.left-bar-column{
  background-color: #262c32 !important;
  overflow-y: auto;
  color: #fffc;
}

.list-group-dark .list-group-item{
  background-color: #23292f;
}

.list-elements .list-group{
  background-color: #262c32 !important;
}

.list-elements .list-group-item{
  background-color: #2a3138 !important;
  
  border-bottom-style: solid !important;
  border-color: #37414b;
  border-width: 1px;
}

.list-group-border-bottom{
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-radius: 0px 0px 0px 0px !important;
  border-bottom-style: none !important;
  border-color: #870087;
  border-width: 1px;
}

.list-group-arrow{
  float: right;
}

.list-group-add-circle{
  float:right;
}

.chat-room-messages{
  overflow-y: auto;
}

.form-control{
  background-color: #37414b !important;
  color: white !important;
  border-color: #870087;
}

.chat-room-message-avatar{
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.chat-room-message{
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 6px;
  padding-bottom: 16px;
  font-style: normal;
  line-height: 1.15;

  border-bottom-style: solid;
  border-width: 1px;
  border-color: #37414b;
}

.chat-room-message-content{
  padding-left: 16px;
}

.chat-room-message-date{
  font-size: 12px;
}

textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
  box-shadow: inset 1px 1px 1px #c300c3;
  border-color: #c300c3;
  outline: 0 none;
}

.user-profile{
  background-color: #23292f !important;
  text-align: center;
  border-color: #37414b;
}

.user-profile-content{
  padding-top: 16px;
}

.notification-window{
  position: absolute;
  background-color: #262c32;
  width: 256px;
  height: auto;
  z-index: 99 !important;
  right: 6px;
  top:48px;
}

.chat-room-list-management{
  background-color: #23292f !important;
  border-color: #37414b;
  text-align: left;
}

.chat-room-list-management-checkbox{
    margin: 0px 0px 6px 32px;
}

.loader {
  border: 4px solid #870087; /* Light grey */
  border-top: 4px solid white; /* Blue */
  border-radius: 50%;
  width: 32px;
  height: 32px;
  animation: spin 2s linear infinite;
  float: none;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}