
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 64px;
  height: 64px;
  animation: spin 2s linear infinite;
  float: none;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.element-padding-bottom{
  float: none;
  display: table-cell;
  vertical-align: bottom;
}

.App-create-chatRoom{
  padding-top: 20px;
}

.App-chatRoomList-size{

}

.element-center{
  text-align: center;
  padding-top: 15px
}

.App-create-room-button{
  padding-top: 15px;
}

.App-footer{
  position: absolute;
  text-align: center;
  left:0;
  bottom:0;
  width: 100%;
}